<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Municipio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
      /* Asegúrate de que el contenedor del desplegable tenga un z-index alto */
        .select2-container {
            z-index: 10000;
            width: 300px !important; /* Ajusta el tamaño deseado */
            max-width: 300px !important; /* Ajusta el tamaño deseado */
        }
        .select2-dropdown {
            width: 300px !important; /* Asegúrate de que el dropdown mantenga el mismo tamaño */
            max-width: 300px !important; /* Asegúrate de que el dropdown mantenga el mismo tamaño */
        }
    </style>
    <script type="text/javascript">
      $(document).ready(function() {
          var regiones = [];
          $.ajax({
              url: '/buscar_region',
              dataType: 'json',
              success: function(data) {
                  regiones = data.results;
                  console.log('Regiones cargadas:', regiones);
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  console.error('Error al cargar las regiones:', textStatus, errorThrown);
              }
          });
          
          $('.select-region1').select2({
              placeholder: "Seleccione una region",
              allowClear: true,
              minimumInputLength: 0,
  
              // Buscar en el array local en lugar de hacer solicitudes AJAX
              ajax: {
                  transport: function (params, success, failure) {
                      var term = params.data.term || '';
                      var filtered = regiones.filter(function(item) {
                          return item.text.toLowerCase().includes(term.toLowerCase());
                      });
                      success({
                          results: filtered
                      });
                  },
                  delay: 250,
                  cache: true
              },
  
              templateSelection: function(data, container) {
                  // Permite la edición del input para refinar la búsqueda
                  var $result = $('<span contenteditable="true">' + data.text + '</span>');
                  $result.on('blur keyup paste input', function() {
                      var newTerm = $(this).text();
                      // Trigger search with new term
                      $('.select2-search__field').val(newTerm).trigger('input');
                  });
                  return $result;
              }
          });
          $('.select-region2').select2({
              allowClear: true,
              minimumInputLength: 0,
  
              // Buscar en el array local en lugar de hacer solicitudes AJAX
              ajax: {
                  transport: function (params, success, failure) {
                      var term = params.data.term || '';
                      var filtered = regiones.filter(function(item) {
                          return item.text.toLowerCase().includes(term.toLowerCase());
                      });
                      success({
                          results: filtered
                      });
                  },
                  delay: 250,
                  cache: true
              },
  
              templateSelection: function(data, container) {
                  // Permite la edición del input para refinar la búsqueda
                  var $result = $('<span contenteditable="true">' + data.text + '</span>');
                  $result.on('blur keyup paste input', function() {
                      var newTerm = $(this).text();
                      // Trigger search with new term
                      $('.select2-search__field').val(newTerm).trigger('input');
                  });
                  return $result;
              }
          });
      });
  </script>
</head>
<body>
    <h1 class="text-center mt-5 mb-5 text-primary">MUNICIPIO</h1>
    <div class="container">
        <!-- Mostrar mensajes de flash -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning mt-3" role="alert">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <div class="card shadow">
            <div class="card-body">
                <button class="btn btn-primary btn-sm" id="btn-insert" data-bs-toggle="modal" data-bs-target="#modalinsert">Insertar</button>
                <div class="modal fade" id="modalinsert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar Datos</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/municipio" method="post">
                            <label>CÓDIGO DE MUNICIPIO</label>
                            <input type="text" class="form-control mb-3" name="codmun">
                            <label>NOMBRE DE MUNICIPIO</label>
                            <input type="text" class="form-control mb-3" name="nommun">
                            <label>PRESUPUESTO ANUAL</label>
                            <input type="number" class="form-control mb-3" name="preanu">
                            <label>NÚMERO DE VIVIENDAS</label>
                            <input type="number" class="form-control mb-3" name="numviv">
                            <label>REGIÓN: </label>
                            <select type="text"  class="form-control mb-3 select-region1" name="reg_cod"></select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">INSERTAR</button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                <table class="table table-striped mt-2">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Municipio</th>
                            <th>Presupuesto Anual</th>
                            <th>Número de Viviendas</th>
                            <th>Estado</th>
                            <th>Código de Región</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for municipio in data %}
                        <tr>
                            <td>{{ municipio.MunCod }}</td>
                            <td>{{ municipio.MunNom }}</td>
                            <td>{{ municipio.MunPreAnu }}</td>
                            <td>{{ municipio.MunNumViv }}</td>
                            <td>{{ municipio.MunEstReg }}</td>
                            <td>{{ municipio.RegCod }}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modaldelete{{ municipio.MunCod }}">Eliminar</button>
                                <div class="modal fade" id="modaldelete{{ municipio.MunCod }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Municipio</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          ¿Estás seguro que deseas eliminar el municipio {{ municipio.MunNom }}?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/delete/{{ municipio.MunCod }}" class="btn btn-danger">Eliminar</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modaledit{{ municipio.MunCod }}">Editar</button>
                                <div class="modal fade" id="modaledit{{ municipio.MunCod }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Municipio</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <form action="/edit/{{ municipio.MunCod }}" method="post">
                                            <label>CÓDIGO DE MUNICIPIO</label>
                                            <p>{{municipio.MunCod}}</p>
                                            <label>NOMBRE DE MUNICIPIO</label>
                                            <input type="text" class="form-control mb-3" name="nommun" value="{{ municipio.MunNom }}">
                                            <label>PRESUPUESTO ANUAL</label>
                                            <input type="number" class="form-control mb-3" name="preanu" value="{{ municipio.MunPreAnu }}">
                                            <label>NÚMERO DE VIVIENDAS</label>
                                            <input type="number" class="form-control mb-3" name="numviv" value="{{ municipio.MunNumViv }}">
                                            <label>REGION: </label><br>
                                            <select type="text"  class="form-control mb-3 select-region2" name="reg_cod" ><option value="" disable selected>{{municipio.RegCod}}</option></select>
                                            <br><label>ESTADO DE REGISTRO</label>
                                            <label>ESTADO DE REGISTRO</label>
                                            <p>{{municipio.MunEstReg}}</p>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" name="action" value="edit">Guardar cambios</button>
                                                {% if municipio.MunEstReg == 'A' %}
                                                <button type="submit" class="btn btn-secondary" name="action" value="inactivar">Inactivar</button>
                                                {% else %}
                                                <button type="submit" class="btn btn-success" name="action" value="activar">Activar</button>
                                                {% endif %}
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
