<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo Vivienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="text-center mt-5 mb-5 text-primary">Tipo Vivienda</h1>
    <div class="container">
        <!-- Mostrar mensajes de flash -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning mt-3" role="alert">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <div class="card shadow">
            <div class="card-body">
                <button class="btn btn-primary btn-sm" id="btn-insert" data-bs-toggle="modal" data-bs-target="#modalinsert">Insertar</button>
                <div class="modal fade" id="modalinsert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar Datos</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/tipovivienda" method="post">
                            <label>CÓDIGO DE TIPO DE VIVIENDA</label>
                            <input type="text" class="form-control mb-3" name="codtipoviv">
                            <label>NOMBRE DE TIPO DE VIVIENDA</label>
                            <input type="text" class="form-control mb-3" name="nomtipoviv">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">INSERTAR</button>
                        </div>
                        </form>
                      </div>
                    </div>
                </div>
                <!--Tabla-->
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">CÓDIGO DE TIPO DE VIVIENDA</th>
                        <th scope="col">NOMBRE DE TIPO DE VIVIENDA</th>
                        <th scope="col">ESTADO DE REGISTRO</th>
                        <th scope="col">EDIT</th>
                        <th scope="col">DELETE</th>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{ d.TipVivCod }}</td>
                                <td>{{ d.TipVivNom }}</td>
                                <td>{{ d.TipVivEstReg }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" id="btn-edit{{ d.TipVivCod }}" data-bs-toggle="modal" data-bs-target="#modal{{ d.TipVivCod }}">Edit</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ d.TipVivCod }}" data-tipvivcod="{{ d.TipVivCod }}" data-tipvivnom="{{ d.TipVivNom }}">Delete</
                                    </button>
                                </td>
                            </tr>
                            <!-- Edit Modal -->
                            <div class="modal fade" id="modal{{ d.TipVivCod }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ d.TipVivCod }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel{{ d.TipVivCod }}">{{ d.TipVivNom }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/edit/{{ d.TipVivCod }}" method="post">
                                                <label>CÓDIGO DE TIPO DE VIVIENDA</label>
                                                <p>{{ d.TipVivCod }}</p>
                                                <label>NOMBRE DE TIPO DE VIVIENDA</label>
                                                <input type="text" class="form-control mb-3" name="nomtipoviv" value="{{ d.TipVivNom }}">
                                                <label>ESTADO DE REGISTRO</label>
                                                <p>{{ d.TipVivEstReg }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="action" value="edit" class="btn btn-primary">Guardar Cambios</button>
                                            <button type="submit" name="action" value="activar" class="btn btn-primary">Activar</button>
                                            <button type="submit" name="action" value="inactivar" class="btn btn-danger">Inactivar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete Modal -->
                            <div class="modal fade" id="deleteModal{{ d.TipVivCod }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ d.TipVivCod }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModalLabel{{ d.TipVivCod }}">Confirmar Eliminación</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <p>¿Desea eliminar este registro?</p>
                                                <label>CÓDIGO DE TIPO DE VIVIENDA</label>
                                                <p id="modalTipVivCod{{ d.TipVivCod }}">{{ d.TipVivCod }}</p>
                                                <label>NOMBRE DE TIPO DE VIVIENDA</label>
                                                <p id="modalTipVivNom{{ d.TipVivCod }}">{{ d.TipVivNom }}</p>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="/delete/{{ d.TipVivCod }}" class="btn btn-danger">Aceptar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
